server:
  port: 8000
#  servlet:
#    context-path: /reimbursement

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  datasource:
    username: root
    password: Ccc12345!!!
    url: jdbc:mysql://34.130.53.121:3306/covidTrackerDB
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true